<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/zocial.css"/>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/hello-min.js" defer="true"></script>
    <script src="/js/google-min.js" defer="true"></script>
    <script src="/js/twitter-min.js" defer="true"></script>
    <script src="/js/facebook-min.js" defer="true"></script>
    <script src="/js/login.js" defer="true"></script>
    <script>
    var urlParts = window.location.href.split("/");
    window.onload = function() {
      hello.init({
        'google': '{{google}}',
        'twitter': '{{twitter}}',
        'facebook': '{{facebook}}'
      }, {redirect_uri: urlParts[0] + "//" + urlParts[2] + '/login-response'});
    }
  </script>
  </head>
  <body>
    {{> templates/header}}
    <div id="main">
      <div class="beige-transparent">
        <div class="center-fixed-width">
          <div style="padding: 20px 0px;">This is some text about logging in...</div>
          <div id="google-login" style="float:left;">
            <button id="googleButton" class="zocial google" onclick="login('google')">Login with Google</button>
          </div>
          <div id="facebook-login" style="float:right;">
            <button id="facebookButton" class="zocial facebook" onclick="login('facebook')">Login with Facebook</button>
          </div>
          <div style="height:200px"></div>
        </div>
      </div>
    </div>
    {{> templates/footer}}
  </body>
</html>