<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
	</head>
	<body>
    	{{> templates/header}}

		<div id="main">
			<div id="text">
				<strong>The Sinai Palimpsests Project</strong> is using state-of-the-art spectral imaging to recover erased texts from palimpsest manuscripts in the library of St. Catherine's Monastery of the Sinai, the world's oldest continually operating monastery.  The monastery holds an exceptional collection of more than 160 palimpsests, the erased layers of which preserve unstudied texts from the 4th to the 12th century.  An online research library, now in development, will make the palimpsests of Sinai globally accessible for study.
			</div>
			<div id="links">
				<ul>
					<a href="#1">
						<li>
							<div class="top"><img src="../images/homepage-featured-monastery.jpg"></div>
							<div class="bottom">St. Catherine's Monastery</div>
						</li>
					</a>
					<a href="#2">
						<li>
							<div class="top"><img src="../images/homepage-featured-technologies.jpg"></div>
							<div class="bottom">Technologies</div>
						</li>
					</a>
					<a href="#3">
						<li>
							<div class="top"><img src="../images/homepage-featured-palimpsests.jpg"></div>
							<div class="bottom">Palimpsests &amp; Scholarship</div>
						</li>
					</a>
				</ul>
			</div>
		</div>
    	{{> templates/footer}}
	</body>
</html>
