<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/zocial.css"/>

    <script src="/js/jquery-1.11.1.min.js"></script>
  </head>
  <body class="sinai-body">
  {{> templates/header}}
    <div id="main" class="text-bg">
      <div>
        <h1>Welcome to the Sinai Palimpsests Research Site</h1>
        <h3>A publication of St. Catherine&apos;s Monastery of the Sinai, Egypt, in collaboration with the UCLA Library and the Early Manuscripts Electronic Library (EMEL).</h3>
        <p>This website provides access to high-quality images created by the Sinai Palimpsests Project, an international effort that with a five-year grant from the Arcadia Fund used multi-spectral imaging to recover the erased layers of writing in seventy-four palimpsest manuscripts kept by the library of St. Catherine&apos;s Monastery. This research site is released for testing by all interested individuals. The project team is working hard to improve your experience.  Site enhancements, including the publication of extensive scholarly metadata describing the manuscripts and their erased texts, will be released in early 2018.</p>
        <p>The UCLA Library and EMEL are grateful to the Holy Monastery of Saint Catherine, His Eminence Archbishop Damianos, and the Monastery&apos;s Holy Council.</p>
        <p>To access the palimpsests images, please register for an account by clicking the &quot;Browse&quot; menu above.</p>
        <p>For more information about the history of this project and its goals, please see <a href="http://sinaipalimpsests.org/about-project">About the Project</a>.</p>
        <p>The images are delivered and presented in compliance with the <a href="http://www.iiif.io/">International Image Interoperability Framework</a>.</p>
      </div>
    </div>
    <div id="login-form">
      <div>
        <div id="google-login">
          <button id="googleButton" class="zocial google" onclick="login('google')">Login with Google</button>
        </div>
        <button class="maroon-button" type="button" id="hide-login">cancel</button>
      </div>
    </div>
  {{> templates/footer}}
  </body>
</html>
