<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="/css/styles.css" />
	<link rel="stylesheet" type="text/css" href="/css/zocial.css"/>

	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/hello-min.js" defer="true"></script>
	<script src="/js/google-min.js" defer="true"></script>
	<script src="/js/facebook-min.js" defer="true"></script>
	<script src="/js/login.js" defer="true"></script>

    <script>
    var urlParts = window.location.href.split("/");
    window.onload = function() {
      hello.init({
        'google': '{{google}}',
        'twitter': '{{twitter}}',
        'facebook': '{{facebook}}'
      }, {redirect_uri: urlParts[0] + "//" + urlParts[2] + '/login-response'});
    }
	</script>
  </head>
	<body>
    	{{> templates/header}}
		<div id="main" class="text-bg">
				<div>
					<h1>Welcome to the Sinai Palimpsests Scholar's Site</h1>
					<p>Please login with your Google account to access the Scholar's Site using the above link.</p>
				</div>
		</div>
		<div id="login-form">
        	<div>
        		<div id="google-login">
        			<button id="googleButton" class="zocial google" onclick="login('google')">Login with Google</button>
        		</div>
        		<!--<div id="facebook-login">
        			<button id="facebookButton" class="zocial facebook" onclick="login('facebook')">Login with Facebook</button>
				</div>-->
				<button class="maroon-button" type="button" id="hide-login">cancel</button>
			</div>
		</div>
    	{{> templates/footer}}
	</body>
</html>
