<!DOCTYPE html>
<html>
  <head>
<!--  <link rel="stylesheet" type="text/css" href="/css/reset.css" />-->
    <link rel="stylesheet" type="text/css" href="/css/fonts-ie.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/zocial.css"/>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/hello-min.js" defer="true"></script>
    <script src="/js/google-min.js" defer="true"></script>
    <script src="/js/twitter-min.js" defer="true"></script>
    <script src="/js/facebook-min.js" defer="true"></script>
    <script src="/js/login.js" defer="true"></script>
    <script>
    var urlParts = window.location.href.split("/");
    window.onload = function() {
      hello.init({
        'google': '{{google}}',
        'twitter': '{{twitter}}',
        'facebook': '{{facebook}}'
      }, {redirect_uri: urlParts[0] + "//" + urlParts[2] + '/login-response'});
    }
  </script>
  </head>
	<body>
    	{{> templates/header}}
		<div id="main">
				<div id="landing-page-content">
					<h1>Welcome to the Sinai Palimpsests Scholar's Site</h1>
					<p>Please login or register to access the Scholar's Site using the above link.</p>
					<p>You can login with your Google or Facebook ID and password.</p>
					<p>To register, you must have a Google or Facebook account, and you must agree to the conditions of use.</p>
					<p>The Monastery is also requesting that you fill out a brief questionnaire. The questionnaire will ask for your name, current institutional or research affiliation, professional title or role (professor, research assistant, etc.,), work phone number or email address, work location (city and country), and the purpose or interest you have in accessing the site and its images. The questionnaire will also record your agreement to the conditions of use. UCLA will archive this information and make it available to the Monastery upon request. This site, UCLA, nor the Monastery, will not make this information public.</p>
					<p>If you have problems or questions with logging in, registering, or using the site (e.g., if you have a request for obtaining images published on this site), please contact the <a href="mailto:helpdesk@library.ucla.edu" target="_top">UCLA Library IT Help Desk</a>.</p>
				</div>
		</div>
		<div id="login-form">
        	<div>
        		<div id="google-login">
        			<button id="googleButton" class="zocial google" onclick="login('google')">Login with Google</button>
        		</div>
        		<div id="facebook-login">
        			<button id="facebookButton" class="zocial facebook" onclick="login('facebook')">Login with Facebook</button>
        		</div>
				<button class="maroon-button" type="button" id="hide-login">cancel</button>
			</div>
		</div>
    	{{> templates/footer}}


		<script src="../js/main.js"></script>
	</body>
</html>
