<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    <script src="/js/jquery-1.11.1.min.js"></script>
  </head>
  <body class="sinai-body">
    {{> templates/header}}
    <div id="main" class="text-bg">
      <div>
        <h1>Sinai Scholars Site - Manage Users</h1>
        <p>NOTE: After adding or updating a user, please allow a few seconds for Solr to re-index, then refresh this page to allow changes to appear.</p>
        <table id="user_table">
          <thead>
            <tr>
               <!--
              <th>Name</th>
              -->
              <th>Email</th>
              <th>Admin?</th>
            </tr>
          </thead>
          <tbody>
            {{#each users}}
            <tr>
              <!--
              <td>name-goes-here</td>
              -->
              <td>{{email}}</td>
              {{#if is_admin}}
              <td class="is_admin_yes">yes</td>
              {{else}}
              <td class="is_admin_no">no</td>
              {{/if}}
            </tr>
            {{/each}}
          </tbody>
        </table>
        <form method="post" action="/admin">
          Email address (new address to add user, existing address to update):
          <input type="text" name="email"><br>
          Admin privileges:<br>
          <input type="radio" name="is_admin" value="true"> Yes<br>
          <input type="radio" name="is_admin" value="false" checked="checked"> No<br>
          <input type="submit" value="Add or Update User">
        </form>
      </div>
    </div>
    {{> templates/footer}}
    </script>
  </body>
</html>
