<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
      <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <script src="/js/jquery-1.11.1.min.js"></script>
  </head>
  <body>
    {{> templates/header}}
    <div id="main">
      <div class="beige-transparent">
        <div id="browse" class="center-fixed-width">
          Browse page.
        </div>
      </div>
    </div>
    {{> templates/footer}}
  </body>
</html>
