<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="/css/styles.css" />

	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/login.js"></script>
  </head>
  <body>
    {{> templates/header}}
    <div id="main" class="text-bg">
		<div>
			<h1>Browse</h1>

			<form>
				<input type="text" name="query" value="Search title, date, location">
				<input type="submit" name="search" value="Search">
			</form>

			<div id="browse-main-content">
				<div id="search-results">
					<h3>Undertexts:</h3>

					<ul>
						<li>
								<span class="helper"></span>
								<img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz14q7rws/0,1022,6132,6132/150,150/0/default.jpg" alt="AraN8">
								<p>

								Work Title: <a href="/view/ark%3A%2F21198%2Fz1kd1z25">Unknown</a><br><br>
								<b>Language:</b> Syriac<br>
								<b>Script: </b> Estrangela <br>
								<b>Date:</b> 8th-9th c. CE <br>
								<b>Extant Codex Shelfmark:</b>  Arabic NF 8<br> 
								</p>
								</li></ul>
					

 <ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz14q7rws/0,1022,6132,6132/150,150/0/default.jpg" alt="AraN8">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1kd1z25">List of holy dresses and objects</a><br><br>
                                                                <b>Language:</b> Greek<br>
                                                                <b>Date:</b> 9th c. CE <br>
								<b>Script:</b> Sloping majuscule<br>
                                                                <b>Extant Codex Shelfmark:  Arabic NF 8</b>
                                                                </p>
                                                                </li></ul>

                                        <ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz14q7rws/0,1022,6132,6132/150,150/0/default.jpg" alt="AraN8">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1kd1z25">Catalog of books and titles of theological works</a><br><br>
                                                                <b>Language:</b> Greek<br>
                                                                <b>Date:</b> 9th c. CE <br>
                                                                <b>Script:</b> Early miniscule<br>
                                                                <b>Extant Codex Shelfmark:  Arabic NF 8</b>
                                                                </p>
                                                                </li></ul>
<ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz14q7rws/0,1022,6132,6132/150,150/0/default.jpg" alt="AraN8">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1kd1z25">Gospel of Matthew</a><br><br>
                                                                <b>Language:</b> Greek<br>
                                                                <b>Date:</b> Unknown <br>
                                                                <b>Script:</b> Biblical majuscule<br>
<b>Genre: </b>New Testament<br>                                                
                <b>Extant Codex Shelfmark:  Arabic NF 8</b>
                                                                </p>
                                                                </li></ul>


<ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz14q7rws/0,1022,6132,6132/150,150/0/default.jpg" alt="AraN8">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1kd1z25">Gospel of John</a><br><br>
                                                                <b>Language:</b> Greek<br>
                                                                <b>Date:</b> Unknown<br>
                                                                <b>Script:</b> Biblical majuscule<br>
                               <b>Genre: </b>New Testament<br>
                                 <b>Extant Codex Shelfmark:</b>  Arabic NF 8
                                                                </p>
                                                                </li></ul>

<ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz14q7rws/0,1022,6132,6132/150,150/0/default.jpg" alt="AraN8">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1kd1z25">Genesis</a><br><br>
                                                                <b>Language:</b> Greek<br>
                                                                <b>Date:</b> Unknown <br>
                                                                <b>Script:</b> Biblical majuscule<br>
<b>Genre: </b>Old Testament<br>                          
                                      <b>Extant Codex Shelfmark:  Arabic NF 8</b>
                                                                </p>
                                                                </li></ul>

<ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz14q7rws/0,1022,6132,6132/150,150/0/default.jpg" alt="AraN8">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1kd1z25">Exodus</a><br><br>
                                                                <b>Language:</b> Greek<br>
                                                                <b>Date:</b> Unknown <br>
                                                                <b>Script:</b> Biblical majuscule<br>
<b>Genre: </b>Old Testament<br>                                                                
<b>Extant Codex Shelfmark:  Arabic NF 8</b>
                                                                </p>
                                                                </li></ul>

<ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz14q7rws/0,1022,6132,6132/150,150/0/default.jpg" alt="AraN8">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1kd1z25">De gratiarum actione</a><br><br>
                                                                <b>Author: </b> Basil of Caesarea<br>
								<b>Language:</b> Greek<br>
                                                                <b>Date:</b> Unknown <br>
                                                                <b>Script:</b> Sloping pointed majuscule<br>
								<b>Genre: </b> Homiletical <br>
                                                                <b>Extant Codex Shelfmark:  Arabic NF 8</b>
                                                                </p>
                                                                </li></ul>

<ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz14q7rws/0,1022,6132,6132/150,150/0/default.jpg" alt="AraN8">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1kd1z25">In Martyrem Julittam</a><br><br>
                                                                <b>Author: </b> Basil of Caesarea<br>
                                                                <b>Language:</b> Greek<br>
                                                                <b>Date:</b> Unknown <br>
                                                                <b>Script:</b> Sloping pointed majuscule<br>
                                                                <b>Genre: </b> Homiletical <br>
                                                                <b>Extant Codex Shelfmark:  Arabic NF 8</b>
                                                                </p>
                                                                </li></ul>

<ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz14q7rws/0,1022,6132,6132/150,150/0/default.jpg" alt="AraN8">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1kd1z25">Treatise on medical words and terms</a><br><br>
                                                                <b>Language:</b> Greek<br>
                                                                <b>Date:</b> 6th c. CE<br>
                                                                <b>Script:</b> Biblical majuscule<br>
                                                                <b>Genre: </b> Medical <br>
                                                                <b>Extant Codex Shelfmark:  Arabic NF 8</b>
                                                                </p>
                                                                </li></ul>

<ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz14q7rws/0,1022,6132,6132/150,150/0/default.jpg" alt="AraN8">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1kd1z25">Recipes for different diseases</a><br><br>
                                                                <b>Language:</b> Greek<br>
                                                                <b>Date:</b> 6th c. CE<br>
                                                                <b>Script:</b> Biblical majuscule<br>
                                                                <b>Genre: </b> Medical <br>
                                                                <b>Extant Codex Shelfmark:  Arabic NF 8</b>
                                                                </p>
                                                                </li></ul>

<ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz14q7rws/0,1022,6132,6132/150,150/0/default.jpg" alt="AraN8">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1kd1z25">Botanical collection with images of plants similar to Dioscorides</a><br><br>
                                                                <b>Language:</b> Greek<br>
                                                                <b>Date:</b> 5th c. CE<br>
                                                                <b>Script:</b> Sparse majuscule of small size<br>
                                                                <b>Genre: </b> Botanical <br>
                                                                <b>Extant Codex Shelfmark:  Arabic NF 8</b>
                                                                </p>
                                                                </li></ul>

<ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz14q7rws/0,1022,6132,6132/150,150/0/default.jpg" alt="AraN8">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1kd1z25">Letters</a><br><br>
								<b>Hippocrates</b>                                                                
<b>Language:</b> Greek<br>
                                                                <b>Date:</b> Unknown<br>
                                                                <b>Script:</b> Biblical majuscule<br>
                                                                <b>Genre: </b> Medical <br>
                                                                <b>Extant Codex Shelfmark:  Arabic NF 8</b>
                                                                </p>
                                                                </li></ul>

<ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz14q7rws/0,1022,6132,6132/150,150/0/default.jpg" alt="AraN8">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1kd1z25">De morbis popularibus (Epidemiae)</a><br><br>
                                                                <b>Hippocrates</b>
<b>Language:</b> Greek<br>
                                                                <b>Date:</b> Unknown<br>
                                                                <b>Script:</b> Biblical majuscule<br>
                                                                <b>Genre: </b> Medical <br>
                                                                <b>Extant Codex Shelfmark:  Arabic NF 8</b>
                                                                </p>
                                                                </li></ul>

<ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz14q7rws/0,1022,6132,6132/150,150/0/default.jpg" alt="AraN8">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1kd1z25">De diaeta I-IV</a><br><br>
                                                                <b>Hippocrates</b>
<b>Language:</b> Greek<br>
                                                                <b>Date:</b> Unknown<br>
                                                                <b>Script:</b> Biblical majuscule<br>
                                                                <b>Genre: </b> Medical <br>
                                                                <b>Extant Codex Shelfmark:  Arabic NF 8</b>
                                                                </p>
                                                                </li></ul>

						</li>
					</ul>
									

<ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz1np24m5/0,902,5412,5412/150,150/0/default.jpg" alt="Syr2A">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1h70g33">Gospel of Mark</a><br><br>
								<b>Language:</b> Syriac<br>
                                                                <b>Date:</b> Mid 5th c. CE<br>
                                                                <b>Script:</b> Estrangela<br>
                                                                <b>Genre: </b> New Testament <br>
                                                                <b>Extant Codex Shelfmark:  Syriac 2A</b>
                                                                </p>
                                                                </li></ul>
                                                                <br><br>

                                                </li>
                                        </ul>
<ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz1np24m5/0,902,5412,5412/150,150/0/default.jpg" alt="Syr2A">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1h70g33">Gospel of Luke</a><br><br>
                                                                <b>Language:</b> Syriac<br>
                                                                <b>Date:</b> Mid 5th c. CE<br>
                                                                <b>Script:</b> Estrangela<br>
                                                                <b>Genre: </b> New Testament <br>
                                                                <b>Extant Codex Shelfmark:  Syriac 2A</b>
                                                                </p>
                                                                </li></ul>
                                                                <br><br>

                                                </li>
                                        </ul>

<ul>
                                                <li>
                                                                <span class="helper"></span>
                                                                <img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz1np24m5/0,902,5412,5412/150,150/0/default.jpg" alt="Syr2A">
                                                                <p>

                                                                Work Title: <a href="/view/ark%3A%2F21198%2Fz1h70g33">Gospel of John</a><br><br>
                                                                <b>Language:</b> Syriac<br>
                                                                <b>Date:</b> Mid 5th c. CE<br>
                                                                <b>Script:</b> Estrangela<br>
                                                                <b>Genre: </b> New Testament <br>
                                                                <b>Extant Codex Shelfmark:  Syriac 2A</b>
                                                                </p>
                                                                </li></ul>
                                                                <br><br>

                                                </li>
                                        </ul>
				</div>

				<div id="narrow-search">
					<h3>narrow your search</h3>

					<form>
						<!-- date slider -->
						<input type="checkbox" name="syr"> Syriac<br>
						<input type="checkbox" name="lat"> Latin<br>
						<input type="checkbox" name="5bce"> 5th BCE<br>
						<input type="checkbox" name="1"> xxx<br>
						<input type="checkbox" name="2"> xxx<br>
						<input type="checkbox" name="3"> xxx<br>
						<input type="checkbox" name="4"> xxx
						
					</form>
				</div>
			</div>
		</div>
    </div>
    {{> templates/footer}}
  </body>
</html>
