<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="/css/styles.css" />

	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/login.js"></script>
  </head>
  <body>
    {{> templates/header}}
    <div id="main" class="text-bg">
		<div>
			<h1>Browse</h1>

			<form>
				<input type="text" name="query" value="Search title, date, location">
				<input type="submit" name="search" value="Search">
			</form>

			<div id="browse-main-content">
				<div id="search-results">
					<h3>2 results</h3>

					<ul>
						<li>
								<span class="helper"></span>
								<img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz14q7rws/0,1022,6132,6132/150,150/0/default.jpg" alt="AraN8">
								<p>
								<a href="/view/ark%3A%2F21198%2Fz1kd1z25">Arabic NF 8</a><br><br>
								<b>Language:</b> Arabic<br>
								<b>New Find:</b> yes<br>
								<b>Date:</b> ???<br>
								<b>Description:</b> ???
								</p>
						</li>
						<li>
								<span class="helper"></span>
								<img src="https://stage-images.library.ucla.edu/iiif/ark:%2F21198%2Fz1np24m5/0,902,5412,5412/150,150/0/default.jpg" alt="Syr2A">
								<p>
								<a href="/view/ark%3A%2F21198%2Fz1h70g33">Syriac 2A</a><br><br>
								<b>Language:</b> Arabic<br>
								<b>New Find:</b> yes<br>
								<b>Date:</b> ???<br>
								<b>Description:</b> ???
								</p>
						</li>
					</ul>
				</div>

				<div id="narrow-search">
					<h3>narrow your search</h3>

					<form>
						<!-- date slider -->
						<input type="checkbox" name="new"> New<br>
						<input type="checkbox" name="fragment"> Fragment<br>
						<input type="checkbox" name="0"> xxx<br>
						<input type="checkbox" name="1"> xxx<br>
						<input type="checkbox" name="2"> xxx<br>
						<input type="checkbox" name="3"> xxx<br>
						<input type="checkbox" name="4"> xxx
						
					</form>
				</div>
			</div>
		</div>
    </div>
    {{> templates/footer}}
  </body>
</html>
