<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/login.js"></script>
  </head>
  <body>
    {{> templates/header}}
    <div id="main" class="text-bg">
      <div>
            <h3>{{error-header}}</h3>
            <p>{{error-message}}</p>
            {{#if contact-info}}
            <p>{{contact-info}}</p>
            {{/if}}
      </div>
    </div>
    {{> templates/footer}}
  </body>
</html>
