<div id="footer">
	<div id="menu">
		<ul class="navbar">
			<a href="http://sinaipalimpsests.org/contact">
				<li>Contact</li>
			</a>
			<a href="http://sinaipalimpsests.org/funders">
				<li>Funders</li>
			</a>
			<a href="http://sinaipalimpsests.org/links">
				<li>Links</li>
			</a>
			<a href="http://sinaipalimpsests.org/galleries">
				<li>Galleries</li>
			</a>
			<a href="http://sinaipalimpsests.org/project-news">
				<li>Project News</li>
			</a>
			<a href="http://sinaipalimpsests.org/copyright-terms-use">
				<li>Copyright &amp; Terms of Use</li>
			</a>
		</ul>
	</div>
	<div id="sponsors">
		<ul>
			<li>
				<a href="#">
					<div class="top"><img src="../images/footer-logo-emel.png"></div>
					<div class="bottom"><span>EARLY MANUSCRIPTS ELECTRONIC LIBRARY</span><br>Creating Digital Access to Cultural Heritage</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="top"><img src="../images/footer-logo-monastery.png"></div>
					<div class="bottom">The Holy Monastery of the God-trodden Mount Sinai,<br><span>Saint Catherine's Monastery</span></div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="top"><img src="../images/footer-logo-arcadia.png"></div>
					<div class="bottom"><span>Arcadia</span><br>Protecting Endangered Culture and Nature</div>
				</a>
			</li>
		</ul>
	</div>
	<div id="copyright">
		<span>Hosted online by <a href="https://www.ucla.edu"><img src="../images/footer-logo-ucla.png"></a></span>
	</div>
</div>
