<div id="footer">
	<div id="menu">
		<ul class="navbar">
			<li>Contact</li>
			<li>Funders</li>
			<li>Links</li>
			<li>Galleries</li>
			<li>Project News</li>
			<li>Copyright &amp; Terms of Use</li>
		</ul>
	</div>
	<div id="sponsors">
		<ul>
			<a href="#1">
				<li>
					<div class="top"><img src="#"></div>
					<div class="bottom">TEXT</div>
				</li>
			</a>
			<a href="#2">
				<li>
					<div class="top"><img src="#"></div>
					<div class="bottom">TEXT</div>
				</li>
			</a>
			<a href="#3">
				<li>
					<div class="top"><img src="#"></div>
					<div class="bottom">TEXT</div>
				</li>
			</a>
		</ul>
	</div>
	<div id="copyright">
		<span>Hosted online by <a href="https://www.ucla.edu"><img src="http://sinaipalimpsests.org/sites/all/themes/custom/palimpsests_omega/images/footer-logo-ucla.png"></a></span>
	</div>
</div>
