<div id="footer">
  <div class="maroon">
    <div class="center-fixed-width">
      <ul id="footer-navbar" class="navbar">
        <li>
          <a href="http://sinaipalimpsests.org/contact">Contact</a>
        </li>
        <li>
          <a href="http://sinaipalimpsests.org/funders">Funders</a>
        </li>
        <li>
          <a href="http://sinaipalimpsests.org/links">Links</a>
        </li>
        <li>
          <a href="http://sinaipalimpsests.org/galleries">Galleries</a>
        </li>
        <li>
          <a href="http://sinaipalimpsests.org/project-news">Project News</a>
        </li>
        <li>
          <a href="http://sinaipalimpsests.org/copyright-terms-use">Copyright &amp; Terms of Use</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="tan">
    <div class="center-fixed-width">
      <ul id="sponsors">
        <li>
          <a href="#">
            <div class="top">
              <img src="/images/footer-logo-emel.png">
            </div>
            <div class="bottom">
              <span>EARLY MANUSCRIPTS ELECTRONIC LIBRARY</span>
              <br>Creating Digital Access to Cultural Heritage
            </div>
          </a>
        </li>
        <li><!--the li's must be on one line -->
          <a href="#">
            <div class="top">
              <img src="/images/footer-logo-monastery.png">
            </div>
            <div class="bottom">
              The Holy Monastery of the God-trodden Mount Sinai,
              <br>
                <span>Saint Catherine's Monastery</span>
            </div>
          </a>
        </li>
        <li><!--the li's must be on one line -->
          <a href="#">
            <div class="top">
              <img src="/images/footer-logo-arcadia.png">
            </div>
            <div class="bottom">
              <span>Arcadia</span>
              <br>Protecting Endangered Culture and Nature
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="black">
    <div id="copyright" class="center-fixed-width">
      <span>
        Hosted online by
        <a href="https://www.ucla.edu">
          <img src="/images/footer-logo-ucla.png">
        </a>
      </span>
    </div>
  </div>
</div>
