<div id="footer-navbar">
      <ul>
        <li>
          <a href="http://sinaipalimpsests.org/contact">Contact</a>
        </li>
        <li>
          <a href="http://sinaipalimpsests.org/funders">Funders</a>
        </li>
        <li>
          <a href="http://sinaipalimpsests.org/links">Links</a>
        </li>
        <li>
          <a href="http://sinaipalimpsests.org/galleries">Galleries</a>
        </li>
        <li>
          <a href="http://sinaipalimpsests.org/project-news">Project News</a>
        </li>
        <li>
          <a href="http://sinaipalimpsests.org/copyright-terms-use">Copyright &amp; Terms of Use</a>
        </li>
      </ul>
</div>
<div id="sponsors">
      <ul>
        <li class="border-right">
          <a href="#">
            <img src="/images/footer-logo-emel.png">
            <p>
              <span>EARLY MANUSCRIPTS ELECTRONIC LIBRARY</span>
              <br>Creating Digital Access to Cultural Heritage
            </p>
          </a>
        </li>
        <li><!--the li's must be on one line -->
          <a href="#">
            <img src="/images/footer-logo-monastery.png">
            <p>
              The Holy Monastery of the God-trodden Mount Sinai,
              <br>
                <span>Saint Catherine's Monastery</span>
            </p>
          </a>
        </li>
        <li class="border-left"><!--the li's must be on one line -->
          <a href="#">
            <img src="/images/footer-logo-arcadia.png">
            <p>
              <span>Arcadia</span>
              <br>Protecting Endangered Culture and Nature
            </p>
          </a>
        </li>
      </ul>
</div>
<div id="copyright">
      <span>
        Hosted online by
        <a href="https://www.ucla.edu">
          <img src="/images/footer-logo-ucla.png">
        </a>
      </span>
</div>
