<div id="footer">

<div id="footer-navbar">
      <ul>
        <li>
          <div><a href="/publications" target="_blank">Publications</a></div>
        </li>|
        <li>
          <div><a href="/contacts" target="_blank">Contact Us</a></div>
        </li>
      </ul>
</div>

<script>
$(function() {
  $("#footer-navbar ul").menu({});
});
</script>

<div id="sponsors">
      <ul>
        <li class="border-right">
          <a href="http://emel-library.org/">
            <img src="/images/footer-logo-emel.png">
            <p>
              <span>EARLY MANUSCRIPTS ELECTRONIC LIBRARY</span>
              <br>Creating Digital Access to Cultural Heritage
            </p>
          </a>
        </li>
        <li>
          <a href="http://www.sinaimonastery.com/index.php/en/">
            <img src="/images/footer-logo-monastery.png">
            <p>
              The Holy Monastery of the God-trodden Mount Sinai,
              <br>
                <span>Saint Catherine's Monastery</span>
            </p>
          </a>
        </li>
        <li class="border-left">
          <a href="http://www.library.ucla.edu/">
            <img id="ucla-library-logo" src="/images/UCLA-Library-signature_undergrad-posters.png">
            <p>
              <span>UCLA Library</span>
            </p>
          </a>
        </li>
        <li class="border-left">
          <a href="https://www.arcadiafund.org.uk/">
            <img src="/images/footer-logo-arcadia.png">
            <p>
              <span>Arcadia</span>
              <br>Protecting Endangered Culture and Nature
            </p>
          </a>
        </li>
      </ul>
</div>
<div id="copyright">
      <span>
        Hosted online by
        <a href="https://www.ucla.edu">
          <img src="/images/footer-logo-ucla.png">
        </a>
      </span>
</div>
</div>
