<div id="banner">
	<div>
	   	<ul>
	      <li id="en">
	        <a href="/">
	          <img src="/images/flag-en-active.png">
	        </a>
	      </li>
	      <li id="el">
	        <a href="/">
	          <img src="/images/flag-el-inactive.png">
	        </a>
	      </li>
	    </ul>
		<div>
			<span id="greeting">welcome, please <a href="javascript:;" id="show-login">login</a></span>
		</div>
	    <a href="/">
	      <img src="/images/logo.png">
	    </a>
	</div>
</div>

<div id="main-navbar">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/browse">Browse</a>
      </li>
      <!--<li>
        <a href="/register">Register</a>
      </li>-->
      <li>
        <a href="http://sinaipalimpsests.org">Educational Site</a>
      </li>
    </ul>
</div>

{{#if logged-in}}
<script>
$(document).ready(function() {
	constructGreetingBanner(localStorage['sinai-scholars-username']);
});
</script>
{{/if}}
