<div id="header">
	<div id="banner">
		<a href="#">
			<img src="http://sinaipalimpsests.org/sites/all/themes/custom/palimpsests_omega/logo.png">
		</a>
	</div>
	<div id="navigation">
		<ul class="navbar">
			<li>About</li>
			<li>St Catherine's Monastery</li>
			<li>Technologies</li>
			<li>Palimpsests &amp; Scholarship</li>
			<li>Galleries</li>
		</ul>
	</div>
</div>
