<div id="header">
	<div id="banner">
		<a href="http://sinaipalimpsests.org">
			<img src="../images/logo.png">
		</a>
	</div>
	<div id="navigation">
		<ul class="navbar">
			<a href="http://sinaipalimpsests.org/about-project">
				<li>About</li>
			</a>
			<a href="http://sinaipalimpsests.org/st-catherines-monastery-sinai">
				<li>St Catherine's Monastery</li>
			</a>
			<a href="http://sinaipalimpsests.org/technologies">
				<li>Technologies</li>
			</a>
			<a href="http://sinaipalimpsests.org/palimpsests-and-scholarship">
				<li>Palimpsests &amp; Scholarship</li>
			</a>
			<a href="http://sinaipalimpsests.org/galleries">
				<li>Galleries</li>
			</a>
		</ul>
	</div>
</div>
