<div id="banner">
	<div>
	   	<ul>
	      <li id="en">
	        <a href="/">
	          <img src="/images/flag-en-active.png">
	        </a>
	      </li>
	      <li id="el">
	        <a href="/">
	          <img src="/images/flag-el-inactive.png">
	        </a>
	      </li>
	    </ul>
		<div>
			<span id="greeting">welcome, please <a href="javascript:;" id="show-login">login</a><br>or <a href="/register">register</a> if you are a new user</span>
		</div>
	    <a href="http://sinaipalimpsests.org">
	      <img src="/images/logo.png">
	    </a>
	</div>
</div>

<div id="main-navbar">
    <ul>
      <li>
        <a id="about" href="http://sinaipalimpsests.org/about-project">About</a>
      </li>
      <li>
        <a href="http://sinaipalimpsests.org/st-catherines-monastery-sinai">St Catherine's Monastery</a>
      </li>
      <li>
        <a href="http://sinaipalimpsests.org/technologies">Technologies</a>
      </li>
      <li>
        <a href="http://sinaipalimpsests.org/palimpsests-and-scholarship">Palimpsests &amp; Scholarship</a>
      </li>
      <li>
        <a href="http://sinaipalimpsests.org/galleries">Galleries</a>
      </li>
    </ul>
</div>
<div id="sub-navbar">
    <ul>
      <li>
        <a href="http://sinaipalimpsests.org/about-project">About the Project</a>
      </li>
      <li>
        <a href="http://sinaipalimpsests.org/content/open-letter-monastery">Open Letter from the Monastery</a>
      </li>
      <li>
        <a href="http://sinaipalimpsests.org/participants">Participants</a>
      </li>
    </ul>
</div>
