<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/fonts.css">
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	</head>
	<body>
    	{{> templates/header}}
		<div id="main">
			<div class="beige-transparent">
				<div id="image-view" class="center-fixed-width">
					Image view page.
				</div>
			</div>
		</div>
    	{{> templates/footer}}

		<script></script>
	</body>
</html>
