<!DOCTYPE html>
<html>
  <head>
    <title>Research Site | Sinai Palimpsests Project</title>
    <script src="/js/jquery-1.11.1.min.js"></script>
    {{> templates/common-head-nodes}}
  </head>
  <body class="sinai-body">
    {{> templates/google-analytics-body}}
    {{> templates/header}}
    <div id="main" class="text-bg">
      <div>
        <h1>Beta Site</h1>
        <h1>Welcome to the Sinai Palimpsests Research Site</h1>
        <h3>A publication of St. Catherine&apos;s Monastery of the Sinai, Egypt, in collaboration with the UCLA Library and the Early Manuscripts Electronic Library (EMEL).</h3>
        <p>This website provides access to high-quality images and descriptive metadata created by the Sinai Palimpsests Project, an international effort that with a five-year grant from the Arcadia Fund used multi-spectral imaging to recover the erased layers of writing in seventy-four palimpsest manuscripts kept by the library of St. Catherine&apos;s Monastery.</p>
        <p>The UCLA Library and EMEL are grateful to the Holy Monastery of Saint Catherine, His Eminence Archbishop Damianos, and the Monastery&apos;s Holy Council.</p>
        <p>To access the palimpsests images, please register for an account by clicking the &quot;Login&quot; link above. </p>
        <p>For more information about the history of this project and its goals, please see <a href="http://sinaipalimpsests.org/about-project">About the Project</a>.</p>
        <p>The images are delivered and presented in compliance with the <a href="http://iiif.io/">International Image Interoperability Framework</a>.</p>
        <p class="bold">Future enhancements of this site and updates to its content will be announced on this page.</p>
        <ul>
          <li>June 2018: Major site enhancements, including the publication of extensive scholarly metadata describing the manuscripts and their erased texts.</li>
        </ul>
      </div>
    </div>
    {{> templates/footer}}
  </body>
</html>
