<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/zocial.css"/>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/js/hello-min.js" defer="true"></script>
    <script src="/js/google-min.js" defer="true"></script>
    <script src="/js/twitter-min.js" defer="true"></script>
    <script src="/js/facebook-min.js" defer="true"></script>
    <script src="/js/login.js" defer="true"></script>
    <script>
    var urlParts = window.location.href.split("/");
    window.onload = function() {
      hello.init({
        'google': '{{google}}',
        'twitter': '{{twitter}}',
        'facebook': '{{facebook}}'
      }, {redirect_uri: urlParts[0] + "//" + urlParts[2] + '/login-response'});
    }
  </script>
  </head>
  <body>
    {{> templates/header}}
    <div id="main">
      <div class="beige-transparent">
        <div id="login-form" class="center-fixed-width">
          <div style="float:left" id="google-login">
            <button class="zocial google" onclick="login('google')">Login with Google</button>
          </div>
          <div style="margin-left:50px" id="facebook-login">
            <button class="zocial facebook" onclick="login('facebook')">Login with Facebook</button>
          </div>
        </div>
      </div>
    </div>
    {{> templates/footer}}

    <script></script>
  </body>
</html>
