<div id="maintenance-banner">
  <p>
    The Sinai Palimpsests Project data is currently unavailable while we perform some necessary security updates.
    We apologize for the inconvenience and hope to restore access very soon.
    If you have questions or an urgent need to access a manuscript, please contact <a href="mailto:dchildress@ucla.edu">Dawn Childress</a>.
  </p>
</div>
