<div id="main-navbar">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/browse">Browse</a>
    </li>
    <li>
      <a href="/admin">Admin</a>
    </li>
    <li>
      <a href="http://sinaipalimpsests.org">Educational Site</a>
    </li>
  </ul>
</div>
