<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="/js/jquery-1.11.1.min.js"></script>
  </head>
  <body>
    {{> templates/header}}
    <div id="main">
		<div>
			<form>
				Username:* <input type="text" name="user"><br>
				Email address:* <input type="text" name="email"><br>
				First name:* <input type="text" name="fname"><br>
				Last name:* <input type="text" name="lname"><br>
				Affiliation:* <input type="text" name="affl"><br>
				Occupation:* <input type="text" name="occ"><br>
				Website:* <input type="text" name="site"><br>
				Password: <input type="text" name="pass"><br>
				Confirm password: <input type="text" name="confirm-pass"><br>
				<input type="submit" value="Submit">
			</form>
    	</div>
    </div>
    {{> templates/footer}}
  </body>
</html>
