<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/login.js" defer="true"></script>
  </head>
  <body class="sinai-body">
    {{> templates/header}}
    <div id="main" class="text-bg">
		<div>
			<h1>Sinai Scholars Site Registration Questionnaire</h1>
			<form>
				Name (first, last):
				<input type="text" name="user"><br>

				Current institutional or research affiliation:
				<input type="text" name="purpose"><br>

				Professional title or role (professor, research assistant, etc.):
				<input type="text" name="purpose"><br>

				Email address:
				<input type="text" name="email"><br>

				Work telephone number:
				<input type="text" name="purpose"><br>

				Work location (city and country):
				<input type="text" name="fname"><br>

				Briefly describe the purpose or interest you have in accessing the site and its images:
				<input type="text" name="purpose"><br>

				Please read and click in the box if you agree to the <a href="http://sinaipalimpsests.org/copyright-terms-use">conditions of use</a>:
				<input type="checkbox" name="agree"><br>

				<input type="submit" value="Submit">
			</form>
    	</div>
    </div>
    {{> templates/footer}}
  </body>
</html>
