<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/jcarousel.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/login.js" defer="true"></script>
    <script>
      (function($) {
        $(function() {
          var load = function(data) {
            var div = document.getElementById("thumbnail-wrapper");

            $.each(data.items, function() {
              var img = document.createElement('img');
              var a = document.createElement('a');

              img.setAttribute('src', this.thumbnail);
              img.setAttribute('alt', this.label);
              img.setAttribute('style', 'margin:1px 5px;');
              a.setAttribute('href', '/view/{{id}}/' + this.id);

              a.appendChild(img);
              div.appendChild(a);
            });
          };

          $.getJSON('https://stage-images.library.ucla.edu/iiif/{{id}}/manifest/thumbnails', load);
        });
      })(jQuery);
    </script>
  </head>
  <body>
    {{> templates/header}}
    <div id="main" class="viewer-bg">
      <div>
          <div style="text-align: right;">
            <a href="/view/{{id}}" style="text-decoration:none;color:#4e443c"><span class="fa fa-2x fa-square"></span></a>
            <span class="fa fa-2x fa-th" style="color:#9d9386"></span>
          </div>
          <div id="thumbnail-wrapper" style="text-align:center;width:100%;padding-top:20px">
          </div>
        </div>
    </div>
    {{> templates/footer}}
  </body>
</html>
