<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/fonts.css">
		<link rel="stylesheet" type="text/css" href="../css/styles.css">
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	</head>
	<body>
    	{{> templates/header}}
		<div id="main">
			<div class="beige-transparent">
				<div id="search-results" class="center-fixed-width">
					<form>
						<input type="text" name="query" value="Search title, date, location">
						<button type="submit" name="search">Search</button>
					</form>
					Search results page.
				</div>
			</div>
		</div>
    	{{> templates/footer}}

		<script></script>
	</body>
</html>
