<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/jcarousel.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
    <script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/login.js" defer="true"></script>
    <script src="/js/slick.min.js"></script>
    <script>
      var selected = '{{selected}}';
      var selectedId;
      var selectedLabel;
      var selectedIndex;
    
      function updateView(id, label) {
        document.getElementById('viewer').src = '/viewer/' + id + '?selected={{id}}/' + label;
      }
      
      $(document).ready(function() {
        var setup = function(data) {
          var carousel = $('.carousel');

          $.each(data.items, function(index, value) {
            var jsMethod = "updateView('" + value.id + "', '" + value.label + "')";
            carousel.append('<div><a onclick="' + jsMethod + '; return false;" href="#"><img data-lazy="' +
              value.thumbnail + '" title="' + value.label + '" alt="' + value.label + '"/></a></div>');

            if (value.id == selected) {
              selectedId = value.id; 
              selectedLabel = value.label;
              selectedIndex = index;
            }

            if (!selected && index == 0) {
              updateView(value.id, value.label);
            }
          });

          $('.carousel').slick({
            'accessibility': true,
            'infinite': false,
            'lazyLoad': 'ondemand',
            'slidesToShow': Math.floor(carousel.width() / 150),
            'slidesToScroll': Math.floor(carousel.width() / 150)
            /* centerMode doesn't work w/ slidesToScroll: https://github.com/kenwheeler/slick/pull/659 */
            /* 'centerMode': true, */
            /* 'centerPadding': '10px' */
          });
          
          if (selectedId && selectedLabel) {
            updateView(selectedId, selectedLabel);
            $('.carousel').slick('slickGoTo', selectedIndex);
          }
        };

        $.getJSON('https://stage-images.library.ucla.edu/iiif/{{id}}/manifest/thumbnails', setup);
      });
    </script>
  </head>
  <body>
    {{> templates/header}}
    <div id="main" class="viewer-bg">
      <div>
          <div style="text-align: right;">
            <span class="fa fa-2x fa-square" style="color:#9d9386"></span>
            <a href="/scan/{{id}}" style="text-decoration:none;color:#4e443c"><span class="fa fa-2x fa-th"></span></a>
          </div>
		  <div class="carousel"></div>
          <iframe id="viewer" width="1366px;" height="680px;" marginwidth="0" src="" marginheight="0"
            frameborder="0" scrolling="no" allowfullscreen=""></iframe>
      </div>
    </div>
    {{> templates/footer}}
  </body>
</html>
