<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/mirador-flex/mirador.js"></script>
    <link href="/mirador-flex/css/mirador-combined.css" rel="stylesheet" type="text/css">
    <title>Mirador Viewer</title>
    <style type="text/css">
     #viewer {  width: 100%; height: 100%; }
    </style>
</head>
<body>
    <div id="viewer"></div>

    <script type="text/javascript">

     $(function() {
         var anno_token;
         Mirador({
          "id": "viewer",
          "showAddFromURLBox": false,
          "layout": "1",
          "data": [{
            "manifestUri": "{{imageserver}}/iiif/{{id}}/manifest",
            "location": "UCLA"
          }],
          "windowObjects": [{
            "loadedManifest": "{{imageserver}}/iiif/{{id}}/manifest",
            "slotAddress" : "row1",
            "availableViews": ["ImageView", "ThumbnailsView", "BookView"],
            "viewType": "ImageView",
            "annotationLayer": false,
            "annotationState": "annoOff",
            "overlay": false,
            "fullScreen": true,
            "displayLayout": true,
            "layoutOptions": {
              "newObject": true,
              "close": true,
            },
            "bottomPanel": true,
            "bottomPanelVisible": true,
            "sidePanel": false,
            "sidePanelVisible": false
          }]
        });
     });
    </script>
</body>
</html>
