<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/jcarousel.css" />
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery.jcarousel.min.js"></script>
    <script>
      function updateView(id) {
        document.getElementById('viewer').src = '/viewer/' + id;
      }
    
      (function($) {
        $(function() {
          var jcarousel = $('.jcarousel').jcarousel();

          $('.jcarousel-control-prev').on('jcarouselcontrol:active', function() {
            $(this).removeClass('inactive');
          }).on('jcarouselcontrol:inactive', function() {
            $(this).addClass('inactive');
          }).jcarouselControl({ target: '-=6' });

          $('.jcarousel-control-next').on('jcarouselcontrol:active', function() {
            $(this).removeClass('inactive');
          }).on('jcarouselcontrol:inactive', function() {
            $(this).addClass('inactive');
          }).jcarouselControl({
            target: '+=6'
          });

          var setup = function(data) {
          var html = '<ul>';

          $.each(data.items, function() {
            var jsMethod = "updateView('" + this.id + "')";

            html += ('<li><a onclick="' + jsMethod + '; return false;" href="#">');
            html += ('<img src="' + this.thumbnail + '" alt="' + this.label + '"/>');
            html += '</a></li>';
          });

          html += '</ul>';

          // Append items
          jcarousel.html(html);

          // Reload carousel
          jcarousel.jcarousel('reload');
        };

        $.getJSON('https://stage-images.library.ucla.edu/iiif/{{id}}/manifest/thumbnails', setup);
      });
      })(jQuery);
    </script>
  </head>
  <body>
    {{> templates/header}}
    <div id="main">
      <div class="beige-transparent" style="max-width: 1366px;">
          <div class="jcarousel-wrapper" name="view">
            <div class="jcarousel">
              <div class="loading">Loading thumbnails...</div>
            </div>
            <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
            <a href="#" class="jcarousel-control-next">&rsaquo;</a>
          </div>
          <iframe id="viewer" width="1366px;" height="680px;" marginwidth="0" src="/viewer/empty" marginheight="0"
            frameborder="0" scrolling="no" allowfullscreen=""></iframe>
        </div>
    </div>
    {{> templates/footer}}
  </body>
</html>
