$beige: #F7F2EA;
$maroon: #800020;
$tan: #E2DBCF;
$brown: #CBC5BA;
$black-transparent: rgba(0, 0, 0, 0.8);
$beige-transparent: rgba(255, 247, 233, 0.8);

@mixin font-settings {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.538;
}

/*
 * by class
 */

body.sinai-body {
    @include font-settings;
    background-color: $beige;
    background-image: url("../images/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0;
    padding: 0;
    height: 100%;

    ul {
        list-style: outside none none;
        margin: 0;
        padding: 0;
    }

    img {
        border: none;
    }

    a {
        text-decoration: none;
    }
}

.center-fixed-width {
    margin: auto;
    max-width: 1366px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar {
    @include font-settings;
    > ul {
        @extend .center-fixed-width;
        color: white;
        text-align: center;

        > li {
            color: inherit;
            display: inline-block;
            font-weight: 300;

            > a {
                color: inherit;
                display: inline-block;
                padding: 10px 10px;
            }

            &:hover {
                color: #AAA;
            }
        }
    }
}

.maroon-button {
    background-color: $maroon;
    border: none;
    color: white;
    padding: 10px;

    &:hover {
        color: #AAA;
    }
}

/*
 * by id
 */

#banner {
    background-color: $beige-transparent;

    > div {
        @extend .center-fixed-width;

        > ul {
            text-align: right;

            > li {
                display: inline-block;
                margin-left: 10px;
                margin-top: 10px;
            }

        }

        > div {
            overflow: hidden;

            > span {
                float: right;
                text-align: right;

                > a, span {
                    color: $maroon;
                    font-weight: bold;
                }
            }
        }

        > a > img {
            display: block;
            width: 100%;
            max-width: 940px;
            margin: 0 auto;
            padding: 20px 0;
        }
    }
}

#main-navbar {
    @extend .navbar;
    background-color: $maroon;
    text-transform: uppercase;
}

#sub-navbar {
    @extend .navbar;
    background-color: $black-transparent;
    //visibility: hidden;
}

#main {

    > div {
        @extend .center-fixed-width;
        padding-top: 10px;
        padding-bottom: 35px;

        #browse-main-content {
            overflow: hidden;

            #search-results {

                .undertexts-header {
                    font-size: 1em;
                }
                .shelf-mark-link {
                    color: black;
                    font-size: 1.25em;
                }
                .bold {
                    font-weight: bold;
                }
                .italic {
                    font-style: italic;
                }

                width: 75%;
                float: left;

                #search-results-list > li {
                    border-top: 1px solid $maroon;
                    padding-top: 20px;

                    .helper {
                        display: inline-block;
                        height: 100%;
                        vertical-align: middle;
                    }

                    img.browse-thumbnail {
                        //vertical-align: top;
                        float: left;
                    }

                    div {
                        //display: inline-block;
                        overflow: hidden;
                        width: auto;
                        padding: 0px 20px;
                        margin-top: 0px;

                    }

                    a.beta {
                        color: #003CC9;
                        margin-left: 50px;
                        padding: 2px;
                        padding-top: 0px;
                        border: 2px solid #003CC9;
                        border-radius: 5px;

                        img {
                            vertical-align: middle;
                        }
                    }

                    .indent {
                        margin-left: 50px;
                    }

                    .undertext-objects-list > li {
                        border-top: 1px solid $maroon;
                    }
                }
            }
        }

        #browse-error {
            code.error-code {
                color: $maroon;
            }
        }

        p > a {
            color: $maroon;
            font-weight: bold;
        }

        form {
            padding: 20px;

            input[type="text"] {

            }

            input[type="submit"] {
                @extend .maroon-button;
            }
        }

        table#user_table {
            border-collapse: collapse;
            border-spacing: 0px;
        }

        table#user_table, table#user_table th, table#user_table td {
            border: 1px solid black;
            padding: 5px;

            td.is_admin_yes {
                color: green;
                font-weight: bold;
            }
            td.is_admin_no {
                color: red;
                font-weight: bold;
            }
        }
    }
}

.viewer-bg {
    background-color: $beige-transparent;
}

.text-bg {
    background-color: $beige;

    > div {
        background-color: white;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    }
}

#login-form {
    @extend .center-fixed-width;
    background-color: $tan;
    border: 1px solid $brown;

    min-width: 298px;
    padding: 0;
    position: fixed;
    visibility: hidden;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    div {
        margin: 20px;
        text-align: center;
    }

    p {
        margin: 0;
    }
}

/*
#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}
*/

#footer-navbar {
    @extend .navbar;
    background-color: $maroon;
}

#ucla-library-logo {
  margin-bottom: 45px;
  width: 100%;
  height: 100%;
}

#sponsors {
    background-color: $tan;

    > ul {
        @extend .center-fixed-width;
        text-align: center;
        padding: 35px 0px;

        > li {
            display: inline-block;
            font-size: 13px;
            font-weight: 400;
            padding: 0 2.5%;
            vertical-align: middle;
            width: 15%;

            > a {
                color: #333;

                &:hover
                {
                    color: $maroon;
                }

                > img {
                    display: inline-block;
                }

                > p {
                    margin: 0 15%;
                }
            }
        }

        > li.border-left {
            border-left: 1px solid $brown;
        }

        > li.border-right {
            border-right: 1px solid $brown;
        }
    }
}

#thumbnail-wrapper:after{content:""; display: inline-block; width: 100%; height: 0;}

#copyright
{
    color: white;
    background-color: black;
    padding: 10px;

    > span
    {
        display: table;
        margin: auto;
    }

    img
    {
        vertical-align: text-bottom;
    }
}

#loginLink, #logoutLink {
  float: right;
}

.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  color: $maroon;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.link-button:focus {
  outline: none;
}

.link-button:active {
  color:$maroon;
}
