/*
 * by tag
 */
html {
  background-color: #F7F2EA;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.538; }

body {
  background-image: url("../images/bg-header.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0; }

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0; }

a {
  	/*
  max-width: 100%;
  max-height: 100%;
  */
  text-decoration: none; }

img {
  border: none; }

/*
 * by class
 */
.center-fixed-width, .navbar > ul, #main-navbar > ul, #sub-navbar > ul, #footer-navbar > ul, #banner > div, #main > div, #login-form, #sponsors > ul {
  margin: auto;
  max-width: 1366px;
  padding-left: 20px;
  padding-right: 20px; }

.navbar > ul, #main-navbar > ul, #sub-navbar > ul, #footer-navbar > ul {
  text-align: center; }
  .navbar > ul > li, #main-navbar > ul > li, #sub-navbar > ul > li, #footer-navbar > ul > li {
    color: white;
    display: inline-block;
    font-weight: 300; }
    .navbar > ul > li > a, #main-navbar > ul > li > a, #sub-navbar > ul > li > a, #footer-navbar > ul > li > a {
      color: inherit;
      display: inline-block;
      padding: 10px 10px; }
    .navbar > ul > li:hover, #main-navbar > ul > li:hover, #sub-navbar > ul > li:hover, #footer-navbar > ul > li:hover {
      color: #AAA; }

.maroon-button, #main > div form input[type="submit"] {
  background-color: #800020;
  border: none;
  color: white;
  padding: 10px; }
  .maroon-button:hover, #main > div form input[type="submit"]:hover {
    color: #AAA; }

/*
 * by id
 */
#banner {
  background: rgba(255, 247, 233, 0.8); }
  #banner > div > ul {
    text-align: right; }
    #banner > div > ul > li {
      display: inline-block;
      margin-left: 10px;
      margin-top: 10px; }
  #banner > div > div {
    overflow: hidden; }
    #banner > div > div > span {
      float: right;
      text-align: right; }
      #banner > div > div > span > a, #banner > div > div > span span {
        color: #800020;
        font-weight: bold; }
  #banner > div > a > img {
    display: block;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 20px 0; }

#main-navbar {
  background-color: #800020;
  text-transform: uppercase; }

#sub-navbar {
  background: rgba(0, 0, 0, 0.8); }

#main {
  background: rgba(255, 247, 233, 0.8);
  padding: 20px 0px; }
  #main > div #browse-main-content {
    overflow: hidden; }
    #main > div #browse-main-content #search-results {
      width: 75%;
      float: left; }
      #main > div #browse-main-content #search-results ul > li {
        border-bottom: 1px solid #800020;
        padding-top: 20px; }
        #main > div #browse-main-content #search-results ul > li img {
          max-width: 40%; }
        #main > div #browse-main-content #search-results ul > li p, #main > div #browse-main-content #search-results ul > li table {
          display: inline-block;
          max-width: 40%;
          padding-left: 20px; }
    #main > div #browse-main-content #narrow-search {
      width: 25%;
      float: right; }
  #main > div p > a {
    color: #800020;
    font-weight: bold; }

#login-form {
  background-color: #E2DBCF;
  border: 1px solid #CBC5BA;
  min-width: 298px;
  padding: 0;
  position: fixed;
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #login-form div {
    margin: 20px;
    text-align: center; }
  #login-form p {
    margin: 0; }

#footer-navbar {
  background-color: #800020; }

#sponsors {
  background-color: #E2DBCF; }
  #sponsors > ul {
    text-align: center;
    padding: 35px 0px; }
    #sponsors > ul > li {
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      padding: 0 2.5%;
      vertical-align: middle;
      width: 28%; }
      #sponsors > ul > li > a {
        color: #333; }
        #sponsors > ul > li > a:hover {
          color: #800020; }
        #sponsors > ul > li > a > img {
          display: inline-block; }
        #sponsors > ul > li > a > p {
          margin: 0 15%; }
    #sponsors > ul > li.border-left {
      border-left: 1px solid #CBC5BA; }
    #sponsors > ul > li.border-right {
      border-right: 1px solid #CBC5BA; }

#thumbnail-wrapper:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0; }

#copyright {
  color: white;
  background-color: black;
  padding: 10px; }
  #copyright > span {
    display: table;
    margin: auto; }
  #copyright img {
    vertical-align: text-bottom; }

/*# sourceMappingURL=styles.css.map */
